body {
  margin: 0;
  padding: 0;
  padding-bottom: 54px;
  font-family: 'Garamond';
  background-color: #eeeeee;
  width: 100%;
  position: absolute;
}

.site {
}

.container {
  max-width: 640px;
  width: 90%;
  margin: 0 auto;
}

.mini-container {
  max-width: 240px;  
}

.main {
  margin: 0 auto;
  padding: 64px 32px;
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: bottom;
  text-align: left;
}

.logo {
  max-width: 200px;
  margin: 0 auto;
  display: block;
  padding: 32px;
  background-color: white;
}

h1 {
  font-size: 26px;
  color: #666666;
  margin: 16px auto;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #999999;
  padding-bottom: 16px;
}

#root {
  position: relative;
  width: 100%;
}

.catalog {
  margin: 0 auto;
  display: block;
}

.productList {
  padding-top: 16px;
  margin: 0 auto;
}

.product {
  margin: 16px auto 0;
  padding: 16px 16px 56px;
  background-color: white;
  text-align: center;
  min-height: 350px;
}

.product img {
  margin-top: 16px;
  display: inline-block;
  max-width: 90%;
}

.product button {
  display: block;

  margin: 16px auto;
  padding: 8px 0;
}

.thumbnailWrapper {
  margin: 0 auto 32px;
  padding: 16px 16px 32px;
  text-align: center;
  background-color: white;
}

.thumbnail {
  display: inline-block;
  margin: 16px 8px 0;
  max-width: 60px;
}

.thumbnail img {
  max-width: 90%;  
}

button.zoomProductBuy {
  color: #666666;
  font-size: 20px;
  padding: 14px 20px 16px 20px;
  text-decoration: none;
  display: block;
  font-family: 'Garamond';  
  margin: 32px auto 32px;
  font-variant: small-caps;
  text-transform: lowercase;
  cursor: pointer;
  background: none;
  border: none;
  background-color: white;
  text-align: center;
}

button.zoomProductBuy:hover {
  text-decoration: none;
}

.productBreak {
  margin-bottom: 96px;
}

.categoryMenu {
  margin: 0 auto;
  padding: 16px;
  position: relative;
}

.categoryMenuItemContainer {
  width: 50%;
  position: relative;
  display: inline-block;
  min-width: 152px;
}

.categoryMenuSubItemContainer {
  position: absolute;
  z-index: 9999;
  width: 100%;
}

div.categoryMenuItem, div.categoryMenuSubItem {
  color: #666666;
  font-size: 20px;
  padding: 14px 20px 16px 20px;
  text-decoration: none;
  display: block;
  font-family: 'Garamond';  
  margin: 32px 2px 0;
  font-variant: small-caps;
  text-transform: lowercase;
  cursor: pointer;
  background-color: white;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 0 0 3px #888;
}

div.categoryMenuSubItem {
  margin-top: 0;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}






